@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
}

html {
    scroll-behavior: smooth;
}

ul{
    list-style-type: none; /* remove bullets points from the list */

}

li{
    list-style-type: none;

}
section {
    /* set the color for all sections of the website*/
    background-color: rgb(245, 245, 245);
}

.container {
    padding: 50px 0 ;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
}
p {
    line-height: 1.5;
    font-size: 16px ;
}

a {
    text-decoration: none; /* Remove underline from each link */
    
}

h1{
    line-height: 1.5;
}




.click {
    cursor: pointer;
    transition: all 300ms ease; /* create delay in the change on hover and click*/
}
.click:hover {
    transform: scale(1.1); /*increase the size of the button 10% on hover */
}

.click:active {
    transform: scale(0.8); /*decrease the size of the button 20% on click */
}
button {
    cursor: pointer;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: #fff;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    /* outline: none; removes the highlight on click  */
    outline-color: #3d7a1a;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    margin-top: 8px;
    resize: vertical;
    height: 10vh;
}

label {
    font-size: 14px;
    font-weight: bold;
}
nav, 
.scroll,
header,
#projects, 
footer {
    visibility: visible;
    opacity: 1;
    transition: all 600ms 800ms;
}


.modal_open nav, 
.modal_open .scroll,
.modal_open header,
.modal_open #projects, 
.modal_open footer {
    visibility: visible;
    opacity: 1;
    filter: blur(5px);
    transition: all 600ms;
    position: fixed; /* to apply the location of the button (bottom and right) */

}

/* 

Landing Page
*/

#landing-page {
    min-height: 100vh; /* Does not allow scolling */
}



.header{ 
     position: absolute; /* To Apply the top and left position changes */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Improve responsive to different width */
    max-width: 1000px;
}
.title {
    font-size: 76px;
    margin-bottom: 12px;
}

.orange { 
     color: #3d7a1a !important; /* important override other codes */
}


.header_para {
    line-height: 1.5;
    font-size: 24px;
    max-width: 450px;
}

.mail_btn {
    z-index: 10; /* to appear over icons and projects*/
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    bottom: 32px;
    right: 40px;
    position: fixed; /* to apply the location of the button (bottom and right) */
 }

 /*

Underline Animation 

*/

.link_hover-effect{
    position: relative;
}

.link_hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -3px;
    border-radius: 20%;
    transition: all 300ms ease;
}

.link_hover-effect-black:after {
    background-color: #3d7a1a;
}

.link_hover-effect-white:after {
    background-color: #fff;
}

.link_hover-effect:hover:after {
    left:0;
    width: 100%;
}



/* 

Navigation 

*/

#personal-logo {
     /*filter: invert(1); Change the color to black */
     width: 100px;
     height: 100px;
}

nav {
    display: flex; /* Place items horizonatal */
    justify-content: space-between;
    align-items: center; /*align items vertically*/
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Places the nav in the middle of the screen*/
    height: 100px;
    padding: 0 20px; /* create a gap between nav and screen edge (right and left) */

}

.nav__link--list{
    display: flex;
    justify-content: space-between;
}

.nav__link {
    margin: 0 12px; /* To create a gap between each link*/
}

.nav__link--anchor {
    font-weight: 700;
    font-size: 16px; /* font sizes are increased/decreased by 2-4px even numbers */
    color: #3d7a1a; 
}

.fa-solid {
    font-size: 20px;
}

.social_list {
    margin-top: 16px; /* margin and paddings are increased/decresased by 8px */
    display: flex;
}

.social_link {
    background-color: #3d7a1a;
    color: white;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%; /* smooth out the edges*/
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_para--wrapper{
    display: flex;

}

.header__half{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0 20px;
}

/*

About_Me

*/


 

.header__svg--half{
    margin-left: 24px;
}

/*

Modal

*/

.modal {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%;
    max-width: 75%;
    height: 70vh;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden; /* set the modal as hidden at the start*/
    /* Control opening and closing of the tab (smoother)*/
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
    
}

/* toggle modal */

.modal_open .modal {
    z-index: 60; 
    box-shadow: 0 20px 90px 0 rgb(0, 0, 0, 0.55);
    visibility: visible; /* show the modal after the div is called*/
}

.modal_half {
    padding: 40px 72px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: relative; /* to make the spinner postion inside the div */
    transition: all 300ms ease-in; /* Create an animation of the movement */
}


/* location after opening (middle of scree)n */
.modal_open .modal_contact,
.modal_open .modal_about {
    transform: translateX(0%);
}

.modal_about{
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%); /* place it out of the screen prior to request */
}

.modal_languages {
    display: flex;
    flex-wrap: wrap; /* to limit the number of logos on the same line */
    transition: all 300ms ease;
}

.modal_contact{
    background-color: #242424;
    color: white;
    transform: translateX(110%); /* place it out of the screen prior to request */

}

.modal_tittle {
    font-size: 26px;
}

/* position the name of the logo underneath */

.modal_language {
    text-align: center;
    width: 25%;
    padding: 16px;
    position: relative;
}

.language_name {
 display: flex;
 flex-direction: column;
 align-items: center;
 transform: scale(0);
 transition: all 300ms ease;
}

/* only show on hover */

.modal_language:hover .language_name {
transform: scale(1);
}

.modal_language:hover {
    transform: scale(0.9);
    filter: brightness(80%);
    }

.modal_language-img {
    width: 100%;
}

.modal_tittle {
    font-style: 26px;
}

.modal_subtittle {
    margin: 12px 0 24px 0;
    font-size: 20px;
}

.modal_para {
    margin-bottom: 12px;
     line-height: 1.75; /*add line spacing */
    font-size: 16px;

}

/* modal form */

.form_item {
    margin-bottom: 20px;
}

.form_submit {
    background-color: #3d7a1a;
    border: 2px solid #3d7a1a;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 20px;
    max-width: 240px;
    transition: all 300ms ease;
}

.form_submit:hover {
    border-color: white;
    background-color: transparent;
}
 
.form_submit:active {
    border-color: #3d7a1a;
    background-color: transparent;
    color: #3d7a1a;
}

input:hover, textarea:hover {
    
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #3d7a1a;
}

/*

After submission

*/
.modal_overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* before the form is submitted */
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.modal_overlay-loading {
    background-color: #242424;
    z-index: -1;
}

.modal_overlay-sucess {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 80px;
   z-index: -1;
}

.modal_overlay-visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation:spinner 1000ms infinite ;
    font-size: 70px;

}

/* animation for the spinner */

@keyframes spinner{
0% {
    transform: roatate(0);
}

100% {
    transform:rotate(360deg)
}
}

.modal_exit {
    position:absolute;
    top: 30px;
    right: 40px;
    color: #fff;
    font-size: 36px;
    z-index: 100;
}
/*

Projects

*/

.projects_tittle {
    position: relative;
    text-align: left;
    font-size: 48px;
    margin-bottom: 60px;
}

.project{
    padding: 24px 0;
}

.project_img {
    width: 100%;
}

.project_wrapper {
    position: relative;
    max-height: 600px;
    border-radius: 20px; /* to smooth the corners of the image*/
    overflow: hidden;
    box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45 );
}

.project_wrapper:hover .project_description {
    opacity: 1; /* showing the text on hover */
    transform: translateY(-50%);
}

.project_wrapper:hover .project_img {
    transform: scale(1.07);
    filter: blur(5px);
    transition: transform 450ms ease-in-out;
}

.project_description {
    position:absolute;
    top: 50%;
    transform: translateY(100%); /* place the text below the image */
    opacity: 0; /*  Not showing the text before hover */
    transition: opacity 300ms, transform 450ms ease;
    left: 90px;
    color: white;
    max-width: 550px;
}

.project_wrapper-bg {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25; /*extra background to make description appear*/
    opacity: 0.7;
}

.project_description-link {
    color: white;
    font-size: 20px;
    margin-right: 16px;
}

.project-description-para {
    margin: 16px 0;
}

.project_description--subtittle {
    margin: 8px 0;
}


/*

Footer

*/

footer { 
    background-color: #242424;
    display: flex;
    padding: 6% 0;
    position: relative;
}

.footer_row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer_social-list {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.footer_logo-img {
     width: 100px; /* the height will be adjusted automatically if the width is smaller than the origional width */
}

.footer_social-list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer_social-link ,
.footer_copyright {
    color: white;
}


/*

Responsive and contrast

*/  

.dark-theme section{
    background-color: #242424;
}

.dark-theme .tittle,
.dark-theme .section_title,
.dark-theme .header_para,
.dark-theme .projects_tittle,
.dark-theme .section_subtitle, 
.dark-theme .nav__link--anchor {
color: white;
} 

.dark-theme #personal-logo {
    filter: none;
}

.dark-theme .mail_btn {
    background-color: white;
    color: #242424;
}

.dark-theme .link_hover-effect-black:after {
    background-color: #fff;
}


/*

Shapes

Location

first row: height 15vh

Second row: height 50vh

Third row: height 80vh

First column: width of 2vw

Second column: width of 50vw

Third column: width of 80vw
*/

.shape {
    position: fixed;
}

.shape--0 {
    left: 5vw;
    top: 15vh;
}
.shape--1 {
    left: 50vw;
    top: 15vh;
}
.shape--2 {
    left: 80vw;
    top: 15vh;
}
.shape--3 {
    left: 5vw;
    top: 50vh;
}
.shape--4 {
    left: 50vw;
    top: 50vh;
}
.shape--5 {
    left: 80vw;
    top: 50vh;
}
.shape--6 {
    left: 5vw;
    top: 80vh;
}
.shape--7 {
    left: 50vw;
    top: 80vh;
}
.shape--8 {
    left: 80vw;
    top: 80vh;
}

/* Small phones, tablets */
@media (max-width: 768px) { 
    .tittle {
    font-size: 80px;
    }
    .header_para {
        font-size: 20px; 
    }
    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
        text-align: center;
        transform: translateX(20%);
    }
    .modal_half {
        padding: 40px;
        width: 100%;
    }
    
    
}

@media (max-width:480px) {
    .tittle {
        font-size: 52px;
    }
    .header_para {
        font-size: 18px; 
    }
    .nav_link:first-child {
        display: none;
    }
    .project_description--para {
        display: none;
    }
    .project_description {
        left: 0;    
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .project_description--subtittle {
        margin-bottom: 8px;
    }
    .modal_language {
        width: 50%;
    }
    
}




